---
import Layout from '../../layouts/Layout.astro'
import HeaderDetail from '../../components/HeaderDetail.astro'
import { newtClient } from '../../lib/newt'
import type { Article } from '../../lib/newt'
import '../../styles/css/detail.css';

export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: 'blog',
    modelUid: 'article',
	query: {
		select: ["title", "slug", "body", "coverImage", "category", "date"],
	},
  })
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }))
}

const { article } = Astro.props
---

<Layout title={`${article.title} | ASTRO BASE`}>
	<HeaderDetail />
	<main class="bg-gray">
	<section>
		<div class="container">
			<div class="blog-detail-area">
				<div class="blog-content">
				<h1>{article.title}</h1>
				<div class="date"><span class="material-symbols-outlined">schedule</span>{ new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' }).format(new Date(article.date))}</div>
				<article set:html={article.body} />
			</div>
			</div>
		</div>
	</section>
	</main>
</Layout>