---
import Layout from '../../layouts/Layout.astro'
import { newtClient } from '../../lib/newt'
import type { Article } from '../../lib/newt'
import '../../styles/css/detail.css';

export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: 'blog',
    modelUid: 'article',
	query: {
		select: ["title", "slug", "body", "coverImage", "category", "date"],
	},
  })
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }))
}

const { article } = Astro.props
---

<Layout title={`${article.title} | TECH BASE`}>
	<section>
		<div class="container">
			<div class="blog-detail-area">
				<div class="blog-detail-title">{article.category.name} Blog</div>	
				<div class="blog-content bg-architect">
				<h1>{article.title}</h1>
				<div class="date"><span class="material-symbols-outlined">schedule</span>{ new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' }).format(new Date(article.date))}</div>
				<article set:html={article.body} />
			</div>
			</div>
		</div>
	</section>
</Layout>

<script is:inline>
let headerInner = document.querySelector(".header-inner");

window.addEventListener("scroll", () => {
	if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
		headerInner.classList.add("active");
	} else {
		headerInner.classList.remove("active");
	}
})
</script>