---
import Layout from '../layouts/Layout.astro'
import { newtClient } from '../lib/newt'
import type { Article } from '../lib/newt'
import '../styles/css/index.css';
const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
	select: ["title", "slug", "body", "coverImage", "category", "date"],
  },
})
---
<Layout title="ASTRO BASE">
	<section id="a01">
		<div class="container">
			<h1>Profile</h1>
			<p class="read">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
			<div class="flex-box">
				<div class="flex-img">
					<img src="img/prof.jpg" alt="">
				</div>
				<div class="flex-text">
					<h2>Lorem ipsum dolor sit amet consectetur.</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae odit laborum maiores, velit ipsam cumque dolores, voluptate, nihil sint deleniti in voluptates veniam adipisci itaque error aut. Laboriosam, aliquid quibusdam?</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae odit laborum maiores, velit ipsam cumque dolores, voluptate, nihil sint deleniti in voluptates veniam adipisci itaque error aut. Laboriosam, aliquid quibusdam?</p>
				</div>
			</div>
		</div>
	</section>
	<section class="skills bg-architect" id="a02">
		<div class="container">
			<h1>Skills</h1>
			<p class="read">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			<ul class="skills-detail">
				<li>
					<div class="skills-img">
						<img src="img/astro.png" alt="">
					</div>
					<div class="skills-text">
						<h2>Astro</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
				<li>
					<div class="skills-img">
						<img src="img/js.png" alt="">
					</div>
					<div class="skills-text">
						<h2>JavaScript</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
				<li>
					<div class="skills-img">
						<img src="img/next.png" alt="">
					</div>
					<div class="skills-text">
						<h2>Next.js</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
				<li>
					<div class="skills-img">
						<img src="img/nuxt.png" alt="">
					</div>
					<div class="skills-text">
						<h2>Nuxt.js</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
				<li>
					<div class="skills-img">
						<img src="img/py.png" alt="">
					</div>
					<div class="skills-text">
						<h2>Python</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
				<li>
					<div class="skills-img">
						<img src="img/figma.png" alt="">
					</div>
					<div class="skills-text">
						<h2>Figma</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="bg-blog" id="a03">
		<div class="container">
			<h1>Blog</h1>
			<p class="read">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
			<div class="blog-area">
				{
					articles.map((article) => {
						return (
						<>
							<div class="blog-card">
								<div class="img-category">
									<img src={article.coverImage ? article.coverImage.src : ""} />
									<h3>{article.category.name}</h3>
								</div>
								<div class="date"><span class="material-symbols-outlined">schedule</span>
								{ new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' }).format(new Date(article.date))}</div>
								<h2>{article.title}</h2>
								<a href={`/articles/${article.slug}`} class="btn-s">Read more</a>
							</div>
						</>
						)
					})
				}
			</div>
		</div>
	</section>
	<section class="bg-architect" id="a04">
		<div class="container">
			<div class="contact">
				<h1>Contact</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				<div class="contact-logo">
					TECH BASE
				</div>
			</div>
		</div>
	</section>
</Layout>

