---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Contact from '../components/Contact.astro'
import { newtClient } from '../lib/newt'
import type { Article } from '../lib/newt'
import '../styles/css/index.css';

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ["title", "slug", "body", "coverImage", "category", "date"],
  },
})
---
<Layout title="ASTRO BASE">
	<Header />
	<main>
	<section id="a01">
		<div class="container">
			<h1>About</h1>
			<div class="flex-box">
				<div class="flex-img">
					<img src="img/prof.webp" alt="">
				</div>
				<div class="flex-text">
					<h2>Lorem ipsum dolor sit amet consectetur.</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae odit laborum maiores, velit ipsam cumque dolores, voluptate, nihil sint deleniti in voluptates veniam adipisci itaque error aut. Laboriosam, aliquid quibusdam?</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae odit laborum maiores, velit ipsam cumque dolores, voluptate, nihil sint deleniti in voluptates veniam adipisci itaque error aut. Laboriosam, aliquid quibusdam?</p>
				</div>
			</div>
		</div>
	</section>
	<section class="skills bg-architect" id="a02">
		<div class="container">
			<h1>Skills</h1>
			<ul class="skills-detail">
				<li>
					<div class="skills-img">
						<img src="img/astro.webp" alt="">
					</div>
					<div class="skills-text">
						<h2>Astro</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
				<li>
					<div class="skills-img">
						<img src="img/js.webp" alt="">
					</div>
					<div class="skills-text">
						<h2>JavaScript</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
				<li>
					<div class="skills-img">
						<img src="img/next.webp" alt="">
					</div>
					<div class="skills-text">
						<h2>Next.js</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
				<li>
					<div class="skills-img">
						<img src="img/nuxt.webp" alt="">
					</div>
					<div class="skills-text">
						<h2>Nuxt.js</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
				<li>
					<div class="skills-img">
						<img src="img/py.webp" alt="">
					</div>
					<div class="skills-text">
						<h2>Python</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
				<li>
					<div class="skills-img">
						<img src="img/figma.webp" alt="">
					</div>
					<div class="skills-text">
						<h2>Figma</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facere voluptates libero!</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section id="a03">
		<div class="container">
			<h1>Blog</h1>
			<div class="blog-area">
				{
					articles.map(( article ) => {
						if(article.category.name == "Astro"){
							return (
								<div class="blog-card">
									<a href={`/articles/${article.slug}`}>
									<div class="img-category">
										<img src={article.coverImage ? article.coverImage.src : ""} alt={article.title} width="403" height="200" />
										<p>{article.category.name}</p>
									</div>
									<div class="date"><span class="material-symbols-outlined">schedule</span>
									{ new Intl.DateTimeFormat('en-US', { dateStyle: 'medium' }).format(new Date(article.date))}</div>
									<h2>{article.title}</h2>
									</a>
								</div>
							)
						}
					})
				}
			</div>
		</div>
	</section>
	<Contact />
</main>
</Layout>

