---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Contact from "../components/Contact.astro";
import { newtClient } from "../lib/newt";
import type { Article } from "../lib/newt";
import "../styles/css/index.css";

const { items: articles } = await newtClient.getContents<Article>({
	appUid: "blog",
	modelUid: "article",
	query: {
		select: ["title", "slug", "body", "coverImage", "category", "date"],
	},
});
---

<Layout title="ASTRO BASE">
	<Header />
	<main>
		<section id="a01">
			<div class="container">
				<h1>About</h1>
				<div class="flex-box">
					<div class="flex-img" data-aos="fade-up">
						<picture>
							<source srcset="img/prof.webp" type="image/webp" />
							<img
								src="img/prof.jpg"
								alt="prof"
								width="300"
								height="300"
							/>
						</picture>
					</div>
					<div class="flex-text" data-aos="fade-left">
						<h2>Lorem ipsum dolor sit amet consectetur.</h2>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Molestiae odit laborum maiores, velit ipsam
							cumque dolores, voluptate, nihil sint deleniti in
							voluptates veniam adipisci itaque error aut.
							Laboriosam, aliquid quibusdam?
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Molestiae odit laborum maiores, velit ipsam
							cumque dolores, voluptate, nihil sint deleniti in
							voluptates veniam adipisci itaque error aut.
							Laboriosam, aliquid quibusdam?
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="skills bg-architect" id="a02">
			<div class="container">
				<h1>Skills</h1>
				<ul class="skills-detail">
					<li data-aos="fade-up" data-aos-delay="50">
						<div class="skills-img">
							<picture>
								<source
									srcset="img/astro.webp"
									type="image/webp"
								/>
								<img
									src="img/astro.png"
									alt="astro"
									width="100"
									height="100"
								/>
							</picture>
						</div>
						<div class="skills-text">
							<h2>Astro</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit.
							</p>
						</div>
					</li>
					<li data-aos="fade-up" data-aos-delay="100">
						<div class="skills-img">
							<picture>
								<source
									srcset="img/js.webp"
									type="image/webp"
								/>
								<img
									src="img/js.png"
									alt="js"
									width="100"
									height="100"
								/>
							</picture>
						</div>
						<div class="skills-text">
							<h2>JavaScript</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit.
							</p>
						</div>
					</li>
					<li data-aos="fade-up" data-aos-delay="150">
						<div class="skills-img">
							<picture>
								<source
									srcset="img/next.webp"
									type="image/webp"
								/>
								<img
									src="img/next.png"
									alt="next.js"
									width="100"
									height="100"
								/>
							</picture>
						</div>
						<div class="skills-text">
							<h2>Next.js</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit.
							</p>
						</div>
					</li>
					<li data-aos="fade-up" data-aos-delay="200">
						<div class="skills-img">
							<picture>
								<source
									srcset="img/nuxt.webp"
									type="image/webp"
								/>
								<img
									src="img/nuxt.png"
									alt="nuxt.js"
									width="100"
									height="100"
								/>
							</picture>
						</div>
						<div class="skills-text">
							<h2>Nuxt.js</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit.
							</p>
						</div>
					</li>
					<li data-aos="fade-up" data-aos-delay="250">
						<div class="skills-img">
							<picture>
								<source
									srcset="img/py.webp"
									type="image/webp"
								/>
								<img
									src="img/py.png"
									alt="python"
									width="100"
									height="100"
								/>
							</picture>
						</div>
						<div class="skills-text">
							<h2>Python</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit.
							</p>
						</div>
					</li>
					<li data-aos="fade-up" data-aos-delay="300">
						<div class="skills-img">
							<picture>
								<source
									srcset="img/figma.webp"
									type="image/webp"
								/>
								<img
									src="img/figma.png"
									alt="figma"
									width="100"
									height="100"
								/>
							</picture>
						</div>
						<div class="skills-text">
							<h2>Figma</h2>
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section id="a03">
			<div class="container">
				<h1>Blog</h1>
				<div class="blog-area">
					{
						articles.map((article, index) => {
							if (article.category.name == "Astro") {
								return (
									<div
										class="blog-card"
										data-aos="fade-up"
										data-aos-delay={index * 50}
									>
										<a href={`/articles/${article.slug}`}>
											<div class="img-category">
												<img
													src={
														article.coverImage
															? article.coverImage
																	.src
															: ""
													}
													alt={article.title}
													width="400"
													height="300"
													loading="lazy"
												/>
												<p>{article.category.name}</p>
											</div>
											<div class="date">
												<span class="material-icons schedule-icon">
													schedule
												</span>
												{new Intl.DateTimeFormat(
													"en-US",
													{ dateStyle: "medium" },
												).format(
													new Date(article.date),
												)}
											</div>
											<h2>{article.title}</h2>
										</a>
									</div>
								);
							}
						})
					}
				</div>
			</div>
		</section>
		<Contact />
	</main>
</Layout>
