---
import Layout from '../layouts/Layout.astro'
import HeaderContact from '../components/HeaderContact.astro'
import '../styles/css/detail.css';
---

<Layout title="Thank you">
	<HeaderContact />
	<main class="bg-gray">
    <div class="contact-box">
        <h1>Thank you!</h1>
        <div>
        <a href="/">Back to Top Page</a>
        </div>
    </div>
    </main>
</Layout>