<section class="bg-yellow" id="a04">
    <div class="container">
        <div class="contact">
            <h1>Contact</h1>
            <form class="form-box" action="https://shim.form.newt.so/v1/vUf_6rML6" method="post">
                <div class="form-item">
                    <input id="name" name="name" placeholder="Name" autocomplete="name" />
                    <input id="email" name="email" type="email" placeholder="Email" autocomplete="email" />
                    <textarea id="message" name="message" placeholder="Message"></textarea>
                    <button type="submit">Submit</button>
                </div>
            </form>
            <div class="contact-logo">
                ASTRO BASE
            </div>
        </div>
    </div>
</section>

