---
import Nav from '../components/Nav.astro'
---
<header class="header-detail">
    <div class="header-inner">
        <Nav />
        <div class="catch">
            <h1>Contact</h1>
        </div>
    </div>
</header>