---
import Nav from "../components/Nav.astro";
---

<header>
    <div class="header-inner">
        <Nav />
    </div>
    <div class="catch">
        <svg
            width="709"
            height="137"
            viewBox="0 0 709 137"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M310.155 0.249996H336.48C335.527 4.32333 334.574 8.39666 333.62 12.47C332.71 16.5 331.779 20.5517 330.825 24.625C329.872 28.6983 328.919 32.7717 327.965 36.845C327.055 40.875 326.145 44.9267 325.235 49H295.01L291.11 24.56C291.11 24.5167 291.089 24.495 291.045 24.495C291.045 24.4517 291.045 24.43 291.045 24.43C291.045 24.43 291.024 24.43 290.98 24.43C290.98 24.43 290.959 24.4517 290.915 24.495C290.915 24.495 290.915 24.5167 290.915 24.56L287.08 49H258.87C258.09 45.75 257.31 42.5 256.53 39.25C255.75 36 254.949 32.75 254.125 29.5C253.345 26.25 252.565 23 251.785 19.75C251.005 16.5 250.204 13.25 249.38 10C248.6 6.75 247.82 3.5 247.04 0.249996H274.73C275.077 2.46 275.402 4.69166 275.705 6.945C276.052 9.155 276.377 11.365 276.68 13.575C277.027 15.785 277.374 18.0167 277.72 20.27C278.067 22.48 278.392 24.69 278.695 26.9C278.695 26.9 278.717 26.9 278.76 26.9C278.804 26.9 278.847 26.9 278.89 26.9C278.934 26.9 278.955 26.9 278.955 26.9C278.999 26.9 279.02 26.9 279.02 26.9L282.66 0.249996H302.225L306.06 26.9C306.104 26.9 306.125 26.9 306.125 26.9C306.169 26.9 306.19 26.9 306.19 26.9C306.84 22.4367 307.49 17.995 308.14 13.575C308.834 9.155 309.505 4.71333 310.155 0.249996Z"
            ></path>
            <path
                d="M392.692 16.63H364.417C364.373 16.63 364.352 16.63 364.352 16.63V20.205C364.352 20.2483 364.352 20.2917 364.352 20.335C364.395 20.335 364.417 20.335 364.417 20.335H391.717V29.5H364.417C364.417 29.5 364.395 29.5 364.352 29.5C364.352 29.5 364.352 29.5217 364.352 29.565C364.352 29.565 364.352 29.5867 364.352 29.63V33.27C364.395 33.27 364.417 33.27 364.417 33.27H393.082V49H338.027C338.027 46.4433 338.027 43.8867 338.027 41.33C338.027 38.73 338.027 36.1517 338.027 33.595C338.027 31.0383 338.027 28.4817 338.027 25.925C338.027 23.325 338.027 20.7467 338.027 18.19C338.027 15.59 338.027 13.0117 338.027 10.455C338.027 8.765 338.027 7.075 338.027 5.385C338.027 3.65167 338.027 1.94 338.027 0.249996H392.692V16.63Z"
            ></path>
            <path
                d="M395.536 0.249996H446.691C449.595 0.249996 452 0.813329 453.906 1.94C455.813 3.02333 457.243 4.43166 458.196 6.165C459.193 7.89833 459.691 9.71833 459.691 11.625C459.691 13.5317 459.193 15.395 458.196 17.215C457.2 18.9917 455.683 20.4433 453.646 21.57C451.653 22.6967 449.14 23.26 446.106 23.26C446.106 23.26 446.085 23.26 446.041 23.26C446.041 23.26 446.041 23.2817 446.041 23.325C446.085 23.325 446.106 23.325 446.106 23.325C449.616 23.325 452.52 23.9533 454.816 25.21C457.113 26.4667 458.825 28.07 459.951 30.02C461.078 31.97 461.641 34.0283 461.641 36.195C461.641 37.7983 461.316 39.3583 460.666 40.875C460.06 42.3917 459.128 43.7783 457.871 45.035C456.615 46.2483 455.055 47.2233 453.191 47.96C451.328 48.6533 449.161 49 446.691 49H395.536C395.536 46.0533 395.536 43.1283 395.536 40.225C395.536 37.2783 395.536 34.3317 395.536 31.385C395.536 28.4383 395.536 25.5133 395.536 22.61C395.536 19.6633 395.536 16.7167 395.536 13.77C395.536 11.5167 395.536 9.26333 395.536 7.01C395.536 4.75667 395.536 2.50333 395.536 0.249996ZM421.146 25.86C421.146 26.3367 421.146 26.8133 421.146 27.29C421.146 27.7667 421.146 28.2433 421.146 28.72C421.146 29.0667 421.146 29.4133 421.146 29.76C421.146 30.0633 421.146 30.3667 421.146 30.67C421.146 30.9733 421.146 31.2767 421.146 31.58C421.146 31.6233 421.146 31.645 421.146 31.645C421.146 31.645 421.168 31.645 421.211 31.645H430.441C431.611 31.645 432.478 31.3417 433.041 30.735C433.648 30.1283 433.951 29.435 433.951 28.655C433.951 28.265 433.886 27.9183 433.756 27.615C433.626 27.2683 433.431 26.965 433.171 26.705C432.955 26.4017 432.651 26.185 432.261 26.055C431.915 25.8817 431.503 25.795 431.026 25.795H421.211C421.211 25.795 421.19 25.8167 421.146 25.86ZM421.211 16.695C421.168 16.695 421.146 16.7167 421.146 16.76C421.146 17.02 421.146 17.3233 421.146 17.67C421.146 17.9733 421.146 18.2983 421.146 18.645C421.146 18.9483 421.146 19.2733 421.146 19.62C421.146 20.0967 421.146 20.595 421.146 21.115C421.146 21.5917 421.146 22.0467 421.146 22.48C421.146 22.5233 421.146 22.545 421.146 22.545C421.146 22.545 421.168 22.545 421.211 22.545H430.116C430.896 22.545 431.546 22.415 432.066 22.155C432.586 21.8517 432.976 21.4833 433.236 21.05C433.496 20.5733 433.626 20.075 433.626 19.555C433.626 18.8183 433.366 18.1683 432.846 17.605C432.37 16.9983 431.655 16.695 430.701 16.695H421.211Z"
            ></path>
            <path
                d="M39.5473 86.25C43.6206 86.25 47.2173 86.705 50.3373 87.615C53.5006 88.4817 56.209 89.695 58.4623 91.255C60.7156 92.815 62.5573 94.635 63.9873 96.715C65.4173 98.7517 66.479 100.94 67.1723 103.28C67.8657 105.62 68.2123 108.003 68.2123 110.43C68.2123 113.507 67.649 116.518 66.5223 119.465C65.439 122.368 63.7273 124.99 61.3873 127.33C59.0907 129.67 56.1223 131.533 52.4823 132.92C48.8857 134.307 44.574 135 39.5473 135H0.807312C0.807312 132.227 0.807312 129.475 0.807312 126.745C0.807312 123.972 0.807312 121.22 0.807312 118.49C0.807312 115.717 0.807312 112.965 0.807312 110.235C0.807312 107.462 0.807312 104.688 0.807312 101.915C0.807312 99.315 0.807312 96.715 0.807312 94.115C0.807312 91.4717 0.807312 88.85 0.807312 86.25H39.5473ZM34.3473 104.97H26.6123C26.6123 104.97 26.5906 104.97 26.5473 104.97C26.5473 104.97 26.5473 104.992 26.5473 105.035C26.5473 105.035 26.5473 105.057 26.5473 105.1V116.15C26.5473 116.193 26.5473 116.237 26.5473 116.28C26.5906 116.28 26.6123 116.28 26.6123 116.28H34.4773C35.4306 116.28 36.2757 116.128 37.0123 115.825C37.7923 115.522 38.4423 115.11 38.9623 114.59C39.4823 114.07 39.8723 113.463 40.1323 112.77C40.4356 112.077 40.5873 111.362 40.5873 110.625C40.5873 109.585 40.3273 108.632 39.8073 107.765C39.3307 106.898 38.6373 106.227 37.7273 105.75C36.8173 105.23 35.6906 104.97 34.3473 104.97Z"
            ></path>
            <path
                d="M124.852 102.63H96.5772C96.5339 102.63 96.5122 102.63 96.5122 102.63V106.205C96.5122 106.248 96.5122 106.292 96.5122 106.335C96.5555 106.335 96.5772 106.335 96.5772 106.335H123.877V115.5H96.5772C96.5772 115.5 96.5555 115.5 96.5122 115.5C96.5122 115.5 96.5122 115.522 96.5122 115.565C96.5122 115.565 96.5122 115.587 96.5122 115.63V119.27C96.5555 119.27 96.5772 119.27 96.5772 119.27H125.242V135H70.1872C70.1872 132.443 70.1872 129.887 70.1872 127.33C70.1872 124.73 70.1872 122.152 70.1872 119.595C70.1872 117.038 70.1872 114.482 70.1872 111.925C70.1872 109.325 70.1872 106.747 70.1872 104.19C70.1872 101.59 70.1872 99.0117 70.1872 96.455C70.1872 94.765 70.1872 93.075 70.1872 91.385C70.1872 89.6517 70.1872 87.94 70.1872 86.25H124.852V102.63Z"
            ></path>
            <path
                d="M192.9 86.25C191.946 89.5 190.971 92.75 189.975 96C189.021 99.25 188.046 102.5 187.05 105.75C186.096 109 185.121 112.25 184.125 115.5C183.171 118.75 182.196 122 181.2 125.25C180.246 128.5 179.271 131.75 178.275 135H140.64C139.036 129.583 137.411 124.167 135.765 118.75C134.161 113.333 132.558 107.917 130.955 102.5C129.351 97.0833 127.726 91.6667 126.08 86.25H155.07C155.33 87.94 155.59 89.63 155.85 91.32C156.153 92.9667 156.435 94.635 156.695 96.325C156.955 98.015 157.215 99.705 157.475 101.395C157.735 103.085 157.995 104.775 158.255 106.465C158.515 108.155 158.775 109.845 159.035 111.535C159.338 113.182 159.62 114.85 159.88 116.54C159.923 116.54 159.945 116.54 159.945 116.54C159.988 116.54 160.01 116.54 160.01 116.54C160.226 115.11 160.443 113.68 160.66 112.25C160.92 110.777 161.158 109.325 161.375 107.895C161.591 106.465 161.808 105.035 162.025 103.605C162.285 102.132 162.523 100.68 162.74 99.25C163 97.7767 163.238 96.325 163.455 94.895C163.671 93.465 163.888 92.035 164.105 90.605C164.365 89.1317 164.603 87.68 164.82 86.25H192.9Z"
            ></path>
            <path
                d="M248.885 102.63H220.61C220.567 102.63 220.545 102.63 220.545 102.63V106.205C220.545 106.248 220.545 106.292 220.545 106.335C220.589 106.335 220.61 106.335 220.61 106.335H247.91V115.5H220.61C220.61 115.5 220.589 115.5 220.545 115.5C220.545 115.5 220.545 115.522 220.545 115.565C220.545 115.565 220.545 115.587 220.545 115.63V119.27C220.589 119.27 220.61 119.27 220.61 119.27H249.275V135H194.22C194.22 132.443 194.22 129.887 194.22 127.33C194.22 124.73 194.22 122.152 194.22 119.595C194.22 117.038 194.22 114.482 194.22 111.925C194.22 109.325 194.22 106.747 194.22 104.19C194.22 101.59 194.22 99.0117 194.22 96.455C194.22 94.765 194.22 93.075 194.22 91.385C194.22 89.6517 194.22 87.94 194.22 86.25H248.885V102.63Z"
            ></path>
            <path
                d="M278.705 115.76C278.705 115.803 278.705 115.847 278.705 115.89C278.749 115.89 278.792 115.89 278.835 115.89H304.185V135H251.73C251.73 132.313 251.73 129.627 251.73 126.94C251.73 124.253 251.73 121.567 251.73 118.88C251.73 116.15 251.73 113.442 251.73 110.755C251.73 108.068 251.73 105.382 251.73 102.695C251.73 99.965 251.73 97.235 251.73 94.505C251.73 91.7317 251.73 88.98 251.73 86.25H278.705C278.705 88.72 278.705 91.19 278.705 93.66C278.705 96.0867 278.705 98.535 278.705 101.005C278.705 103.475 278.705 105.945 278.705 108.415C278.705 110.842 278.705 113.29 278.705 115.76Z"
            ></path>
            <path
                d="M341.42 84.3C337.433 84.3 333.772 84.6033 330.435 85.21C327.142 85.7733 324.173 86.6183 321.53 87.745C318.887 88.8283 316.568 90.15 314.575 91.71C312.625 93.2267 310.978 94.96 309.635 96.91C308.335 98.86 307.338 100.983 306.645 103.28C305.995 105.577 305.67 108.003 305.67 110.56C305.67 112.51 305.865 114.438 306.255 116.345C306.688 118.252 307.338 120.072 308.205 121.805C309.115 123.538 310.242 125.185 311.585 126.745C312.972 128.262 314.597 129.648 316.46 130.905C318.367 132.162 320.555 133.245 323.025 134.155C325.495 135.022 328.247 135.693 331.28 136.17C334.357 136.69 337.737 136.95 341.42 136.95C346.577 136.95 351.105 136.473 355.005 135.52C358.948 134.61 362.328 133.332 365.145 131.685C367.962 129.995 370.258 128.045 372.035 125.835C373.812 123.582 375.112 121.177 375.935 118.62C376.758 116.02 377.17 113.333 377.17 110.56C377.17 105.447 375.848 100.918 373.205 96.975C370.562 93.0317 366.597 89.9333 361.31 87.68C356.023 85.4267 349.393 84.3 341.42 84.3ZM341.485 104.97C343.002 104.97 344.28 105.143 345.32 105.49C346.36 105.837 347.183 106.292 347.79 106.855C348.397 107.375 348.83 107.96 349.09 108.61C349.393 109.26 349.545 109.91 349.545 110.56C349.545 111.123 349.458 111.687 349.285 112.25C349.112 112.77 348.808 113.29 348.375 113.81C347.985 114.287 347.465 114.72 346.815 115.11C346.208 115.457 345.45 115.738 344.54 115.955C343.673 116.172 342.655 116.28 341.485 116.28C339.492 116.28 337.888 115.998 336.675 115.435C335.462 114.872 334.595 114.157 334.075 113.29C333.555 112.423 333.295 111.535 333.295 110.625C333.295 109.932 333.425 109.26 333.685 108.61C333.988 107.917 334.443 107.31 335.05 106.79C335.7 106.227 336.545 105.793 337.585 105.49C338.668 105.143 339.968 104.97 341.485 104.97Z"
            ></path>
            <path
                d="M420.273 86.25C424.303 86.25 427.813 86.8133 430.803 87.94C433.836 89.0233 436.328 90.5183 438.278 92.425C440.271 94.2883 441.766 96.4117 442.763 98.795C443.759 101.178 444.258 103.648 444.258 106.205C444.258 108.935 443.738 111.535 442.698 114.005C441.701 116.432 440.184 118.598 438.148 120.505C436.154 122.412 433.663 123.928 430.673 125.055C427.683 126.138 424.216 126.68 420.273 126.68H406.298C406.298 126.68 406.276 126.702 406.233 126.745C406.233 126.745 406.211 126.745 406.168 126.745C406.168 126.745 406.168 126.767 406.168 126.81V135H379.128C379.128 132.097 379.128 129.193 379.128 126.29C379.128 123.387 379.128 120.483 379.128 117.58C379.128 114.677 379.128 111.773 379.128 108.87C379.128 105.967 379.128 103.063 379.128 100.16C379.128 97.82 379.128 95.5017 379.128 93.205C379.128 90.865 379.128 88.5467 379.128 86.25H420.273ZM412.278 112.575C413.578 112.575 414.661 112.358 415.528 111.925C416.438 111.448 417.109 110.863 417.543 110.17C417.976 109.433 418.193 108.697 418.193 107.96C418.193 107.18 417.976 106.465 417.543 105.815C417.109 105.122 416.459 104.558 415.593 104.125C414.726 103.692 413.621 103.475 412.278 103.475H406.298C406.254 103.475 406.211 103.497 406.168 103.54C406.168 103.54 406.168 103.562 406.168 103.605V112.51C406.211 112.51 406.233 112.532 406.233 112.575C406.276 112.575 406.298 112.575 406.298 112.575H412.278Z"
            ></path>
            <path
                d="M524.42 86.25C524.42 89.5 524.42 92.75 524.42 96C524.42 99.25 524.42 102.5 524.42 105.75C524.42 109 524.42 112.25 524.42 115.5C524.42 118.75 524.42 122 524.42 125.25C524.42 128.5 524.42 131.75 524.42 135H499.395C499.395 130.493 499.395 125.987 499.395 121.48C499.395 116.973 499.395 112.467 499.395 107.96C499.395 107.917 499.374 107.895 499.33 107.895C499.33 107.895 499.309 107.895 499.265 107.895C499.265 107.895 499.265 107.917 499.265 107.96L492.895 135H476.32C475.237 130.493 474.175 126.008 473.135 121.545C472.095 117.082 471.034 112.618 469.95 108.155C469.95 108.112 469.929 108.09 469.885 108.09C469.885 108.09 469.864 108.09 469.82 108.09C469.82 108.09 469.82 108.112 469.82 108.155C469.82 112.618 469.82 117.082 469.82 121.545C469.82 126.008 469.82 130.493 469.82 135H446.095C446.095 131.75 446.095 128.5 446.095 125.25C446.095 121.957 446.095 118.685 446.095 115.435C446.095 112.142 446.095 108.87 446.095 105.62C446.095 102.327 446.095 99.055 446.095 95.805C446.095 94.2017 446.095 92.62 446.095 91.06C446.095 89.4567 446.095 87.8533 446.095 86.25H480.74C481.39 88.9367 482.019 91.6233 482.625 94.31C483.232 96.9533 483.839 99.6183 484.445 102.305C485.095 104.992 485.724 107.678 486.33 110.365C486.33 110.408 486.33 110.452 486.33 110.495C486.374 110.495 486.395 110.495 486.395 110.495C486.439 110.452 486.46 110.408 486.46 110.365L491.66 86.25H524.42Z"
            ></path>
            <path
                d="M581.693 102.63H553.418C553.375 102.63 553.353 102.63 553.353 102.63V106.205C553.353 106.248 553.353 106.292 553.353 106.335C553.396 106.335 553.418 106.335 553.418 106.335H580.718V115.5H553.418C553.418 115.5 553.396 115.5 553.353 115.5C553.353 115.5 553.353 115.522 553.353 115.565C553.353 115.565 553.353 115.587 553.353 115.63V119.27C553.396 119.27 553.418 119.27 553.418 119.27H582.083V135H527.028C527.028 132.443 527.028 129.887 527.028 127.33C527.028 124.73 527.028 122.152 527.028 119.595C527.028 117.038 527.028 114.482 527.028 111.925C527.028 109.325 527.028 106.747 527.028 104.19C527.028 101.59 527.028 99.0117 527.028 96.455C527.028 94.765 527.028 93.075 527.028 91.385C527.028 89.6517 527.028 87.94 527.028 86.25H581.693V102.63Z"
            ></path>
            <path
                d="M622.953 86.25H647.978C647.978 87.8533 647.978 89.4783 647.978 91.125C647.978 92.7283 647.978 94.3533 647.978 96C647.978 97.6033 647.978 99.2283 647.978 100.875C647.978 102.478 647.978 104.103 647.978 105.75C647.978 107.353 647.978 108.978 647.978 110.625C647.978 114.698 647.978 118.772 647.978 122.845C647.978 126.875 647.978 130.927 647.978 135H617.883L609.693 111.6C609.693 111.557 609.671 111.535 609.628 111.535C609.628 111.535 609.606 111.535 609.563 111.535C609.563 111.535 609.563 111.557 609.563 111.6C609.563 115.413 609.563 119.313 609.563 123.3C609.563 127.287 609.563 131.187 609.563 135H584.538C584.538 131.75 584.538 128.5 584.538 125.25C584.538 122 584.538 118.75 584.538 115.5C584.538 112.25 584.538 109 584.538 105.75C584.538 102.5 584.538 99.25 584.538 96C584.538 92.75 584.538 89.5 584.538 86.25H613.658L622.823 113.225C622.866 113.225 622.888 113.225 622.888 113.225C622.931 113.225 622.953 113.225 622.953 113.225C622.953 113.182 622.953 113.16 622.953 113.16V86.25Z"
            ></path>
            <path
                d="M708.663 86.25V106.01H692.998C692.998 106.01 692.977 106.032 692.933 106.075C692.933 106.075 692.912 106.075 692.868 106.075C692.868 106.075 692.868 106.097 692.868 106.14C692.868 108.047 692.868 109.975 692.868 111.925C692.868 113.832 692.868 115.76 692.868 117.71C692.868 119.617 692.868 121.545 692.868 123.495C692.868 125.402 692.868 127.33 692.868 129.28C692.868 131.187 692.868 133.093 692.868 135H665.893C665.893 131.793 665.893 128.587 665.893 125.38C665.893 122.173 665.893 118.967 665.893 115.76C665.893 112.553 665.893 109.347 665.893 106.14C665.893 106.097 665.872 106.075 665.828 106.075C665.828 106.032 665.807 106.01 665.763 106.01H650.098V86.25H708.663Z"
            ></path>
        </svg>
    </div>
    <ul class="skills-logo">
        <li>
            <picture>
                <source srcset="/img/astro.webp" type="image/webp" />
                <img src="/img/astro.png" alt="astro" width="60" height="60" />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="/img/js.webp" type="image/webp" />
                <img src="/img/js.png" alt="js" width="60" height="60" />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="/img/next.webp" type="image/webp" />
                <img src="/img/next.png" alt="next" width="60" height="60" />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="/img/nuxt.webp" type="image/webp" />
                <img src="/img/nuxt.png" alt="nuxt" width="60" height="60" />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="/img/py.webp" type="image/webp" />
                <img src="/img/py.png" alt="python" width="60" height="60" />
            </picture>
        </li>
        <li>
            <picture>
                <source srcset="/img/figma.webp" type="image/webp" />
                <img src="/img/figma.png" alt="figma" width="60" height="60" />
            </picture>
        </li>
    </ul>
</header>
