<header class="header-detail">
    <div class="header-inner">
        <div class="logo"><a href="/">ASTRO BASE</a></div>
        <nav class="pc-nav">
            <ul class="header-lists">
                <li><a href="/#a01">About</a></li>
                <li><a href="/#a02">Skills</a></li>
                <li><a href="/#a03">Blog</a></li>
                <li><a href="/#a04">Contact</a></li>
            </ul>
        </nav>
        <div class="sp-nav-area">
            <div class="sp-nav-btn">
                <span class="material-icons menu-icon">menu</span>
                <span class="material-icons close-icon">close</span>
            </div>
            <nav class="sp-nav"></nav>
        </div>
        <div class="catch">
            <h1>Blog</h1>
        </div>
    </div>
</header>