---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	</head>
	<body id="top">
		<div class="wrapper">
			<header>
				<div class="header-inner">
					<div class="logo"><a href="/">ASTRO BASE</a></div>
					<nav class="pc-nav">
						<ul class="header-lists">
							<li><a href="/#a01">About</a></li>
							<li><a href="/#a02">Skills</a></li>
							<li><a href="/#a03">Blog</a></li>
							<li><a href="/#a04">Contact</a></li>
						</ul>
					</nav>
					<div class="sp-nav-area">
						<div class="sp-nav-btn">
							<span class="material-icons menu-icon">menu</span>
							<span class="material-icons close-icon">close</span>
						</div>
						<nav class="sp-nav">

						</nav>
					</div>
				</div>
				<div class="catch">
					WEB<br>DEVELOPMENT
				</div>
				<ul class="skills-logo">
					<li><img src="/img/astro.webp" alt=""></li>
					<li><img src="/img/js.webp" alt=""></li>
					<li><img src="/img/next.webp" alt=""></li>
					<li><img src="/img/nuxt.webp" alt=""></li>
					<li><img src="/img/py.webp" alt=""></li>
					<li><img src="/img/figma.webp" alt=""></li>
				</ul>
			</header>
			<main>
				<slot />
			</main>
			<footer>
				©2023 ASTRO BASE
			</footer>
		</div>
	</body>
</html>
<script is:inline>
let header = document.querySelector("header");

window.addEventListener("scroll", () => {
	if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
		header.classList.add("active");
	} else {
		header.classList.remove("active");
	}
})

let nav = document.querySelector('.header-lists');
let spNav = document.querySelector('.sp-nav');
spNav.appendChild(nav.cloneNode(true));

let body = document.querySelector('body');
let menuBtn = document.querySelector('.sp-nav-btn');
menuBtn.addEventListener('click', () => {
	body.classList.toggle('side-open');
})
</script>