@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot);
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 2.2em;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-weight: 500;
	word-break: break-all;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	background: #000;
	color: #f4f4ec;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	overflow-x: hidden;
}

section {
	width: 100%;
	padding: 80px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		text-align: center;
		margin-bottom: 20px;
		font-size: 3em;
		font-weight: bold;
		color: #ffe300;
	}
	.read {
		text-align: center;
		margin-bottom: 50px;
	}
}

.bg-architect {
	background-color: #000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23b1b1b1' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.bg-gray {
	background-color: #222;
}

header {
	width: 100%;
	height: 100vh;
	z-index: 1;
	position: relative;
	transition: all .3s ease;
	&.active {
		border-radius: 0;
		.header-inner {
			.logo {
				transition: all .3s ease;
				a {
					color: #ffe300;
					font-size: 1em;
					padding: 20px;
				}
			}
			.pc-nav {
				position: fixed;
				top: 0;
				right: 0;
				ul {
					li {
						a {
							color: #f4f4ec;
							transition: all .3s ease;
							padding: 15px 20px;
							font-size: .8em;
						}
					}
				}
			}
		}
	}
	.header-inner {
		width: 100%;
		z-index: 999;
		position: relative;
		.logo {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 999;
			a {
				color: #ffe300;
				font-size: 2em;
				font-weight: bold;
				padding: 20px;
				display: block;
				transition: all .3s ease;
				text-shadow: 2px 2px 4px rgb(0 0 0 / 10%);
				@media (max-width: 800px) {
					padding: 15px;
				}
			}
		}
		.pc-nav {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 999;
			display: block;
				@media (max-width: 800px) {
					display: none;
				}
			ul {
				display: flex;
				li {
					&:last-child {
						a {
							color: #000;
							background-color: #ffe300;
						}
					}
					a {
						display: block;
						padding: 25px 30px;
						color: #f4f4ec;
						font-weight: 500;
						font-size: 1em;
						background: #00000068;
						&:hover {
							color: #000;
							background-color: #ffe300;
						}
					}
				}
			}
		}
	}
}


.sp-nav-area {
	position: relative;
	color: #ffe300;
	display: none;
	width: 100%;
	z-index: 999;
	@media (max-width: 800px) {
		display: block;
	}
	.header-lists {
		position: absolute;
		@media (max-width: 800px) {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: 100%;
		}
		li {
			margin-bottom: 20px;
			a {
				color: #ffe300;
				font-size: 1.5em;
			}
		}
	}
}

.sp-nav-btn {
    position: fixed;
	top: 0;
	right: 0;
	background: #ffe300;
	color: #000;
	padding: 12px;
	cursor: pointer;
	.material-icons {
		&.menu-icon {
			display: block;
		}
		&.close-icon {
			display: none;
		}
	}
}

.sp-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .3s ease;
}

.side-open {
	header .header-inner.active .logo a {
		background: transparent;
	}
	.sp-nav-area {
		display: block;
		height: 100%;
		.sp-nav {
			visibility: visible;
			opacity: 1;
		}
		.sp-nav-btn {
			background: transparent;
			z-index: 999;
			.material-icons {
				&.menu-icon {
					display: none;
				}
				&.close-icon {
					display: block;
					color: #ffe300;
				}
			}
		}
	}
}

.container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2%;
	@media (max-width: 800px) {
		width: 100%;
		padding: 0 4%;
	}
}

.date {
	font-size: 1.2em;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	line-height: 1;
	span {
		font-weight: 400;
		margin-right: 3px;
		font-size: 1em;
	}
}


.bg-yellow {
	background: #ffe300;
	color: #000;
	h1 {
		color: #000;
	}
}

.btn-s {
	color: #f4f4ec;
	border: solid 1px #f4f4ec;
	padding: 10px 20px;
	margin-top: 15px;
	display: inline-block;
	transition: all .3s ease;
	&:hover {
		border: solid 1px #ffe300;
		background-image: linear-gradient(to right bottom, #ffe300, #fde31e, #fbe42d, #fae439, #f8e443);
		color: #000;
	}
}

.contact {
	text-align: center;
	h1 {
		margin-bottom: 30px;

	}
	p {
		text-align: center;
		margin-bottom: 15px;
	}
	.contact-logo {
		text-align: center;
		margin-top: 30px;
		color: #000;
		font-size: 1.5em;
		font-weight: bold;
	}
	.form-box {
		max-width: 500px;
		margin: 40px auto;
		.form-item {
			width: 100%;
			input {
				color: #161719;
				background: #d8c001;
				font-size: 15px;
				transition: all .3s;
				padding: 13px;
				width: 100%;
				border: none;
				margin-bottom: 20px;
				font-weight: normal;
			}
			textarea {
				color: #161719;
				background: #d8c001;
				font-size: 15px;
				transition: all .3s;
				padding: 13px;
				width: 100%;
				border: none;
				min-height: 150px;
				font-weight: normal;
			}
			button {
				color: #ffe300;
				background: #000;
				border: solid 1px #000;
				padding: 10px 20px;
				margin-top: 15px;
				display: inline-block;
				transition: all .3s ease;
				cursor: pointer;
				&:hover {
					border: solid 1px #000;
					background-image: linear-gradient(to right bottom, #ffe300, #fde31e, #fbe42d, #fae439, #f8e443);
					color: #000;
					background: transparent;
				}
			}
		}
	}
}

footer {
	text-align: center;
	padding: 15px 0;
}