@charset "utf-8";
@use '_common';

.header-detail {
	border-radius: 0;
	height: 50vh;
}
.catch {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	position: relative;
	top: 35%;
	height: 50vh;
	@media (max-width: 800px) {
		padding: 0 20px;
	}
	h1 {
		color: #fff;
		font-weight: 900;
		font-size: 3em;
	}
}

.blog-detail-title {
	text-align: center;
	margin-bottom: 50px;
	font-size: 3em;
	font-weight: bold;
	color: #ffe300;
	@media (max-width: 800px) {
		font-size: 2em;
	}
}
.blog-detail-area {
	max-width: 85%;
	margin: 0 auto;
	@media (max-width: 800px) {
		max-width: 100%;
	}
	.blog-content {
		padding: 50px 3%;
		h1 {
			text-align: left;
			color: #fff;
			font-size: 2em;
			@media (max-width: 800px) {
				font-size: 1.4em;
			}
		}
		.date {
			font-size: 1.2em;
			margin-bottom: 30px;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			line-height: 1;
		}
		img {
			width: 100%;
			margin-bottom: 30px;
			@media (max-width: 800px) {
				margin-bottom: 20px;
			}
		}
		p {
			margin-bottom: 30px;
			font-size: 1.3em;
			@media (max-width: 800px) {
				font-size: 1.2em;
			}
		}
			
	}
}
