@charset "utf-8";
@use '_common';

header {
	background: url("../img/bg1.webp") no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 0 0 50% 50%;
	animation: animate2 1.5s cubic-bezier(0, 0.23, 1, .1);
	@media (max-width: 800px) {
		border-radius: 0;
	}
	@keyframes animate2 {
		0% {
			background: #000;
		}
		100% {
			background: transparent;
		}

	}
}

.catch {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	position: relative;
	top: 35%;
	@media (max-width: 800px) {
		padding: 0 20px;
	}
	path {
		fill: #ffe300;
		stroke: #ffe300;
		stroke-dasharray: 400;
		opacity: 10;
		animation: animate1 3s cubic-bezier(0, 0.23, 1, .1);
	}
	@keyframes animate1 {
		0% {
			opacity: 0;
			fill: none;
			stroke-dashoffset: 400;
		}
		30% {
			opacity: 10;
			fill: none;
			stroke-dashoffset: 400;
		}
		90% {
			fill: rgba(255,227,0,0);
		}
		100% {
			opacity: 10;
			fill: rgba(255,227,0,1);
			stroke-dashoffset: 0;
		}

	}
}

.skills-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	position: relative;
	top: 45%;
	animation: animate3 2s;
	@keyframes animate3 {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}

	}
	li {
		margin: 0 5px;
		img {
			width: 60px;
			height: 60px;
			object-fit: cover;
			border-radius: 50%;
			@media (max-width: 800px) {
				width: 40px;
				height: 40px;
			}
		}
	}
}

.flex-box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	@media (max-width: 800px) {
		flex-direction: column;
		align-items: center;
	}
	.flex-text {
		width: 50%;
		@media (max-width: 800px) {
			width: 100%;
		}
		h2 {
			margin-bottom: 15px;
			text-align: left;
		}
		p {
			margin-bottom: 15px;
			font-size: 1.2em;
		}
	}
	.flex-img {
		width: 45%;
		margin-bottom: 30px;
		text-align: center;
		@media (max-width: 800px) {
			width: 80%;
		}
		img {
			width: 400px;
			height: auto;
			max-width: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}
}

.skills {
	.skills-detail {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-around;
		li {
			display: flex;
			justify-content: space-around;
			margin-bottom: 40px;
			width: 46%;
			background: #00000096;
			padding: 10px;
			align-items: center;
			@media (max-width: 800px) {
				width: 100%;
				margin-bottom: 20px;
			}
			&:hover {
				color: #ffe300;
				.skills-img {
					img {
						filter: grayscale(300%) brightness(60%);
						border-radius: 50%;
					}
				}
			}
			.skills-img {
				width: 100px;
				height: auto;
				margin-right: 20px;
				img {
					width: 100%;
					height: auto;
					object-fit: contain;
					transition: all .3s ease;
				}
			}
			.skills-text {
				width: 70%;
				h2 {
					margin-bottom: 10px;
				}
				p {
					text-align: left;
					font-size: 1em;
					line-height: 1.5;
				}
			}
		}
	}
}


.blog-area {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
	@media (max-width: 800px) {
		flex-direction: column;
	}
	.blog-card {
		width: 30%;
		@media (max-width: 800px) {
			width: 100%;
			margin-bottom: 40px;
		}
		.img-category {
			position: relative;
			z-index: 0;
			img {
				width: 100%;
				height: 200px;
				margin-bottom: 25px;
				object-fit: cover;
			}
			p {
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				background: #000;
				color: #f4f4ec;
				padding: 5px 10px;
				font-size: 1em;
			}
		}
		.date {
			font-size: 1em;
			margin-bottom: 15px;
		}
		h2 {
			margin-bottom: 10px;
			font-size: 1.2em;
		}
		a {
			color: #fff;
			&:hover {
				opacity: .8;
			}
		}
	}
}